.nav-custom{
  height: calc(100vh - (100vh - 45px));
  background:linear-gradient(lightgray,gray);
}

.about-me{
  border-bottom-style: solid;
  height: calc(100vh - (100vh - 310px));
  border-color: blue;
  border-width: 1px;
}

.avatar{
  width: 25ch !important ;
}

.avatar img {
  border-radius: 50%;
  max-width: 100%;
}
